$smooth:  all 300ms ease-in-out;

body, html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: $openSans;
}
h1, h2, h3, h4 {
    font-family: $rosignBold;
    text-align: inherit;
}
p {
    font-family: $openSans;
    font-size: $paragraph;
}
.hud {
    position: relative;
    z-index: 999;
}
.wrapper {
    margin: 1% auto;
    height: 5000px;
    overflow-y: scroll;
    width: calc(100vw - 80px);
    border: 2px solid $flame;
}
.circle-text-animation {
    position: fixed;
    top: 30px;
    right: 50px;
  
    height: 200px;
}
.progress-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 7px;
    background: $flame;
    transform-origin: 0%;     
}
._noSelect {
    // No Selection
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5000px;
    overflow-y: scroll; 
}
.manila {
    @extend .page;
    background: $manila;
}
.fragmentation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    div.moving {
        width: 11%;
        margin: 0 auto;
        img.head {
            width: 100%;
        }
        img.dress {
            position: relative;
            right: 7px;
            top: -7px;
            width: 118%;
        }
        img.leggy {
            width: 101%;
            position: relative;
            right: 2px;
            top: -12px;
        }
    }
}
// @media screen and (max-width: 1100px) {
//     div.moving {
//         transform:
//     }
// }

.sticky {
    position: fixed;
    top: 50px;
    left: 20px;
}