.hide {
    display: none;
  }
  .audio-controls {
    position: fixed;
    left: 50px;
    bottom: 30px;
    display: flex;
    height: 35px;
    width: max-content;
    padding: 5px 20px;
    border-radius: 40px;
    background: $black;
    cursor: pointer !important;
    .mute, .play-pause, .replay {
      margin-top: 8.5px;
      margin-right: 10px;
      .icon { 
        svg {
          fill: $manila;
          &:hover {
            fill: $flame;
            transition: $smooth;
          }
        }
      }
    }
    .animation {
      .line, .container {
       position: relative;
       top: 9.5px; 
       width: 0px;
       fill: $manila;
       transition: all 300ms ease-in-out;
       transition-delay: 500ms;
      }
    }
    &:hover {
      .animation { 
        .line, .container {
          width: 90px;
          transition: all 300ms ease-in-out;
          
        }
      }
    }
  }
  .d-flex {
    display: flex;
  }
  
  .container {
    position: relative;
    top: 10px;
    min-height: 15px;
    max-height: 15px;
    transform: scaleY(-1);
  }
  .wave {
    width: 5px;
    height: 5px;
    margin: 0 2px;
    border-radius: 10px;
    background: $manila;
    position: relative 
  }
  