button.next-btn {
    display: flex;
    position: fixed;
    top: 50%;
    background: none;
    border: none;
    z-index: 9999;
    transition: $smooth;;
    p {
        position: relative;
        letter-spacing: 5px;
        font-size: 12px;
        margin: 0 10px;
    }
    span > svg {
       position: relative;
       transition: $smooth;
    }
    &:hover {
        cursor: pointer;
        p {
            margin-left: 0px;
        }
        span > svg {
            margin-right: 10px;
            transition: $smooth;
        }
    }
}

button.prev-btn {
    @extend button.next-btn;

    &:hover {
        span > svg {
            margin-left: 10px;
            transition: $smooth;
        }
    }
}