button.next-btn {
    display: flex;
    position: fixed;
    top: 50%;
    background: none;
    border: 1px solid rgba($flame, 0.5);
    border-radius: 20px;
    padding: 10px 20px;
    z-index: 19;
    transition: $smooth;;
    p {
        position: relative;
        letter-spacing: 5px;
        font-size: 12px;
        margin: 0 10px;
        text-transform: uppercase;
        font-weight: bold;
    }
    span > svg {
       position: relative;
       transition: $smooth;
    }
    &:hover {
        cursor: pointer;
        background: $flame;
        p {
            margin: 0 10px;
            transition: $smooth;
            
        }
        span > svg {
            margin: 0  20px;
            transition: $smooth;
        }
    }
}

button.prev-btn {
  @extend .next-btn;
}
button.end-btn {
  @extend .prev-btn;
}
button.menu-btn {
    z-index: 23;
    position: fixed;
    top: 10px;
    left: 0;
    height: 50px;
    width: 50px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;  
    svg {
      fill: $black;
      height: 30px;
      width: 30px;
      transition: $smooth;
      &:hover {
        fill: $flame;
        transition: $smooth;
      }
    }
  }
button.menu-btn.invert {
    svg {
      fill: $manila;
      transition: $smooth;
      &:hover {
        fill: $flame;
        transition: $smooth;
      }
    }
  }