button.next-btn {
    display: flex;
    position: fixed;
    top: 50%;
    background: none;
    border: none;
    z-index: 9999;
    transition: $smooth;;
    p {
        position: relative;
        letter-spacing: 5px;
        font-size: 12px;
        margin: 0 10px;
    }
    span > svg {
       position: relative;
       transition: $smooth;
    }
    &:hover {
        cursor: pointer;
        p {
            margin-left: 0px;
        }
        span > svg {
            margin-right: 10px;
            transition: $smooth;
        }
    }
}

button.prev-btn {
    display: flex;
    position: fixed;
    top: 50%;
    background: none;
    border: none;
    z-index: 9999;
    transition: $smooth;;
    p {
        position: relative;
        letter-spacing: 5px;
        font-size: 12px;
        margin: 0 10px;
    }
    span > svg {
       position: relative;
       transition: $smooth;
    }
    &:hover {
        cursor: pointer;
        p {
            margin: 0px 10px;
        }
        span > svg {
            margin-left: 10px;
            transition: $smooth;
        }
    }
}

button.menu-btn {
    z-index: 9999;
    position: fixed;
    top: 10px;
    left: 0;
    height: 50px;
    width: 50px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;  
    svg {
      fill: $black;
      height: 30px;
      width: 30px;
    }
  }
button.menu-btn.invert {
    svg {
      fill: $manila;
    }
  }