* {
  cursor: none;
}

.cursor-dot, .cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 1;
  transition: $smooth;
  z-index: 99;
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: $flame;
  display: none;
}

.cursor-dot-outline {
  width: 50px;
  height: 50px;
  background-color: rgba($flame, 0.4);
}

.link-container {
  display: grid;
  img {
    width: 50vw;
    height: 50vh;
  }
}