.header {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    border: 2px solid $flame;
    width: 100%;
    padding-top: 20px;
    
    .content {
        width: 500px;
        border: 2px solid $flame;
        text-align: center;
    }
    h1 {
        margin: 0;
        font-size: $headline;
    }
    h4 {
        margin: 0;
        font-size: $medium;
    }
}