.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: $pageHeight;
    padding: 15px 0;
    overflow-y: scroll;
    overscroll-behavior: contain;
}
.manila {
    @extend .page;
    background: $manila;
}
.sunset {
    @extend .page;
    background: $sunset;
}
.tin {
    @extend .page;
    background: $tin;
}
.black {
    @extend .page;
    background: $black;
}
.fragmentation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    div.moving {
        width: 11%;
        margin: 0 auto;
        img.head {
            position: relative;
            width: 16.8vh;
            left: -.15vh;
            top: 3px;
        }
        img.dress {
            position: relative;
            right: .85vh;
            top: -1vh;
            width: 20vh;
        }
        img.leggy {
            width: 16.67vh;
            position: relative;
            left: -.2vh;
            top: -1.6vh;
        }
    }

    div.text-content {
        position: fixed;
        top: 33vh;
        left: 15vw;
        width: 70%;
        margin: 0 auto;
        padding: 0 20px;
        .blurb {
            display: flex;
            width: 100%;
            justify-content: space-between;
            div {
                position: fixed;
                max-width: 300px;
                .left {
                    position: inherit;
                    top: 33%;  
                    height: 40vh;
                    max-height: 420px;
                    overflow: hidden; 
                } 
                .right {
                    position: inherit;
                    right: 17%;
                    bottom: 48%;
                    height: 40vh;
                    max-height: 420px;
                    overflow: hidden; 
                }  
            }
            p {
                max-width: 350px;
            }
        }
    }
}

.commodification {
   display: flex;
   align-items: center; 

    // Animation
    $animationSpeed: 120s;

    @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 20))}
    }
    // Styling
    .slider {
        background: transparent;
        height: max-content;
        margin: auto;
        overflow-x: hidden;
        position: fixed;
        width: calc(80vw - 20px);
        transform: translate(-50%, -50%);
        left: 50%;
        top: 40%;
        
        &::before,
        &::after {
        content: "";
        height: 100px;
        position: absolute;
        width: 300px;
        z-index: 2;
        }
        
        &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
        }
    
        &::before {
        left: 0;
        top: 0;
        }
        
        .slide-track {
        animation: scroll $animationSpeed linear infinite;
        display: flex;
        width: calc(250px * 14);
        }
        
        .slide {
        min-height: 350px;
        max-height: 350px;
        object-fit: contain;
        width: 180px;
        margin: 120px;
        filter: drop-shadow(0, 10px, 10px, rgba(0,0,0,0.25));
            img {
                object-fit: contain;
                height: 450px;
            }
        }
    }   

    div.text-content {
        position: fixed;
        top: 77vh;
        left: 12%;
        width: 75%;
        margin: auto;
        .blurb {
            @extend .blurb;
            min-width: calc(100% / 3);
            div {
                margin: 0 20px;
                text-align: justify;
            }
        }
        .row {
            display: flex;
            justify-content: space-between;
        }
    }
}

.negation {
    position: fixed;
    width: 100%;
    div.magazine-cover {
        position: relative;
        top: 15vh;
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        
    }
    .text-content {
        .left {
            position: fixed;
            top: 40vh;
            left: 12%;
            text-align: justify;
            width: 35vh;
            max-width: 300px;
        }
        .right {
            position: fixed;
            right: 12%;
            top: 25vh;
            text-align: justify;
            width: 35vh;
            max-width: 300px;
        }
    }
    .color {
        filter:blur(10px);
    }
}
.text-content {
    position: fixed;
    width: 75%;
    margin: 0 auto;
    .blurb {
        @extend .blurb;
    }
}

.alienation {
    display: flex;
    width: 100%;
    img.unhappy {
        position: fixed;
        top: 67%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: calc(60vh - 10px);
    }
    .left {
        position: fixed;
        top: 33%;
        left: 15%;
        width: 35vh;
        max-width: 300px;
        padding: 20px;
        background: rgba($manila, 0.8);
    }
    .right {
        position: fixed;
        top: 33%;
        right: 15%;
        width: 35vh;
        max-width: 300px;
        padding: 20px;
        background: rgba($manila, 0.8);
    }
}
.homogenization {
    width: 100%;
    .pixelator {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 67vh;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 10px solid white;
        
        box-shadow: 0px 10px 25px rgba($black, 0.5);
    }
    div.text-content {
        position: fixed;
        top: 70vh;
        left: 12%;
        width: 75%;
        margin: auto;
        .blurb {
            @extend .blurb;
            min-width: calc(100% / 3);
            div {
                margin: 0 20px;
                text-align: justify;
            }
        }
        .row {
            display: flex;
            justify-content: space-between;
        }
    }

}
.cover {
    z-index: 30;
    position: absolute;
    top: -100px;
    background: $flame;
    width: 100%;
    height: calc(400vh);
    img {
        position: absolute;
        width: 40vh;
        top: 14%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    p {
        position: absolute;
        bottom: 25px;
        width: 100%;
        font-size: 0.7em;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;   
        letter-spacing: 3px;
    }
    //Scroll Animation
    .scroll-container{
        position: fixed;
        bottom: 2%;
        left: calc(50vw - 150px);
        width: 300px;
        height: 200px;
        
        .scroll-dot {
            position: absolute;
            width: 8px;
            height: 8px;
            background: $black;
            margin-left: -4px;
            top: 36%;
            left: 50%;
            border-radius: 4px;
            animation-duration: 2.5s;
            animation-iteration-count: infinite;
            animation-name: scrollMouse;
        }
        .icon-scroll {
            position: relative;
            width: 40px;
            height: 70px;
            margin-left: -20px;
            top: 50%;
            left: 50%;
            margin-top: -35px;
            box-shadow: inset 0 0 0 1px $black;
            border-radius: 25px;
        }    
    }

    @keyframes scrollMouse {
    0% { 
        opacity: 1;
        }
    100% {
        
        opacity: 0;
        transform: translateY(36px);
    }
    }
}
.credits {
    z-index: 10;
    div.credit-link {
        position: fixed;
        top: 30vh;
        left: 25vh;
        img.photo {
            width: 33%;
            border: 1.5vh solid white;
        }
        img.pin {
            width: 10vh;
            position: absolute;
            top: -4.5vh;
            left: 17vh;
        }
        
        .author {
            transform: scale(0.9);
            justify-content: flex-start;
            width: 34%;
            padding-top: 20px;
            padding-left: 0px;
            img.svg {
                background: transparent;
                height: 30px;
            }
            h3 {
                position: relative;
                top: -9px;
                margin: 0;
                margin-left: 10px;
            }
            a:link, a:visited, a:focus {
                text-decoration: none;
                color: $black;  
            }
            .border {
                position: relative;
                top: 15px;
                div {
                    position: relative;
                    top: -10px;
                    left: 10px;
                    margin: 0;
                    height: 5px;
                    width: 0%;
                    background: $flame;
                    transition: $slow;
                }
                &:hover {
                    div {
                        transition: $slow;
                        width: 95%;
                    }     

                }
            }
        }
    }
    div.content-wrapper{
        position: fixed;
        top: 15%;
        right: 10%;
        background: rgba($black, 0.85);
        width: 33vw;
        max-width: 650px;
        height: 70vh;
        border-radius: 10px;
        padding: 20px 40px;
        overflow-y: scroll;
        h1 {
            color: $manila;
            text-align: center;
            padding-bottom: 10px;
            border-bottom: 1px solid $manila;
        }
        p { 
            color: $tin;
            margin: 0; 
            span {
                margin-right: 10px;
            }
        }
        a {
            display: flex;
            justify-content: space-between;
            margin: 10px 0;
            color: $tin;
            &:hover {color: $flame}
        }
    }
    
}