.toast-wrapper {
    position: fixed;
    bottom: 2%;
    left: calc(50% - 150px);
    display: flex;
    max-width: 400px;
    height: 60px;
    border: .5px solid #333;
    border-radius: 7.5px;
    background: $black; 
    cursor: pointer;
    
    z-index: 15;
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(white,0.25);
      width: 60px;
      height: 60px;  
      
      svg {
        width: 30px;
        height: 30px;
        margin: 0 auto;
        fill: $manila
      }
    }
    
    .text {
      position: relative;
      top: 10px;
  
      p {
        white-space: nowrap;
        width: max-content;
        position: relative;  
        margin: 0;
        margin-top: 5px;
        padding: 0 20px;
        font-weight: bold;
        color: $manila;
      }
      span {
        position: relative;
        top: 4px;
        padding: 0 5px;
        font-weight: bold;
        font-family: $rosignBold;
        font-size: 24px;
        letter-spacing: 2px;
        
      }
    }
  }
  